// font family
$primary-font: "Poppins", sans-serif;


// Colors
$color-white: #ffffff; //
$color-light: #f0eff5; //
$color-dark: #27282f; //
$color-gray-dark: #56555e; //
$color-black: #000000;
$color-gray-light: #85848b;

$color-primary: #4707e9;
$color-success: #22c94c;
$color-danger: #ff4538;
$color-warning: #e9b407;
$color-purple: #9f61f5;

$color-primary-light: rgba($color-primary, 0.2);
$color-success-light: rgba($color-success, 0.2);
$color-danger-light: rgba($color-danger, 0.2);
$color-purple-light: rgba($color-purple, 0.2);

$card-padding: 1.6rem;
$padding-1: 1rem;
$padding-2: 0.5rem;

$card-border-radius: 1.6rem;
$border-radius-1: 1rem;
$border-radius-2: 6px;

// fonts path
$fonts-path: "../fonts" !default;

// base unit
$scut-rem-base: 16 !default;
