// font family
$primary-font: "Poppins", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-dark: hsl(233, 9%, 17%);
$color-white: hsl(0, 0%, 100%);
$color-light: hsl(250, 23%, 95%);
$color-gray-light: hsl(255, 3%, 53%);
$color-gray-dark: hsl(247, 5%, 35%);

$color-primary: hsl(257, 94%, 47%);
$color-success: hsl(135, 71%, 46%);
$color-danger: hsl(4, 100%, 61%);
$color-warning: hsl(46, 94%, 47%);
$color-purple: hsl(265, 88%, 67%);

$color-primary-light: rgba($color-primary, 0.2);
$color-success-light: rgba($color-success, 0.2);
$color-danger-light: rgba($color-danger, 0.2);
$color-purple-light: rgba($color-purple, 0.2);

$card-padding: 1.6rem;
$padding-1: 1rem;
$padding-2: 0.5rem;

$card-border-radius: 1.6rem;
$border-radius-1: 1rem;
$border-radius-2: 6px;

// fonts path
$fonts-path: "../fonts" !default;

// base unit
$scut-rem-base: 16 !default;
