.left {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3;
  width: 22rem;
  height: 100vh;
  background: $color-white;
  box-shadow: 2rem 0 2rem $color-primary-light;
  display: none;
  animation: showSidebar 0.5s ease forwards;

  @keyframes showSidebar {
    to {
      left: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg) {
    position: static;
    z-index: 0;
    width: 100%;
    height: 88vh;
    background: transparent;
    box-shadow: none;
  }

  &__close-btn {
    position: absolute;
    z-index: 4;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: transparent;
    color: $color-dark;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__sidebar {
    margin-top: 4rem;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }

    & a {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1.2rem;
      height: 4.2rem;
      color: $color-gray-light;

      & span {
        font-size: 1.7rem;
        margin-left: 3rem;
        transition: margin-left 0.3s ease-in-out;
      }

      &.active {
        background: $color-white;
        color: $color-primary;

        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 100%;
          background: $color-primary;
        }
      }

      &:hover {
        color: $color-primary;

        & span {
          margin-left: 2rem;
        }
      }

      & h4 {
        font-weight: 400;
      }
    }
  }

  &__updates {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      padding: $card-padding;
      border-radius: $border-radius-1;
      background: $color-white;
      text-align: center;
    }

    & span {
      font-size: 2.8rem;
    }

    & h4 {
      margin-block: 1rem;
    }

    & a {
      display: block;
      width: 100%;
      padding-block: 0.8rem;
      border-radius: $border-radius-1;
      margin-top: 2rem;
      background: $color-primary;
      color: $color-white;

      &:hover {
        box-shadow: 0 1rem 2rem $color-primary-light;
      }
    }
  }
}
